div{
font-family: arial;

}
.div{
    
    height: auto;
    width: 90%;
    background: #FFA1A1;
    border-radius: 20px 20px 20px 20px;
    border: 3px solid black;
    float: center;
    box-sizing: border-box;
    margin: 0px auto;

}
.div1{
    
    height: auto;
    width: 80%;
    background: #FFA1A1;
    border: 0px solid black;
    float: center;
    box-sizing: border-box;
    margin: auto;
}
.div2{
     
    height: auto;
    width: 49%;
   
    float: left;
     box-sizing: border-box;
     margin: auto;
}
.div3{
     
    height: auto;
    width: 49%;
    box-sizing: border-box;
    float: right;
    margin: auto;
}
.center{
    position: relative;
    top: 10px;
}
.footer{
    bottom: 0px;
    position: fixed;
    height: auto;
    width: 100%;
    background: #FFA1A1;
    float: center;
    box-sizing: border-box;
}
